<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Fitmate</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/gtk.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h2>Tell us more about yourself</h2>
        <form action="{{url_for('gettoknow')}}", method="post">
			<label for="age">Age</label>
            <input type="number" id="age" name="age" required>
            <label for="skill-level">What type of person are you?</label>
            <select id="skill-level" name="skill-level" required>
            <option value="" disabled selected>Select your type</option>
            <option value="Beginner">inactive the whole day</option>
            <option value="Intermediate">inactive half of the day</option>
            <option value="Advanced">active throughout the day</option>
            </select>
            <label for="pushups">Number of Pushups you can do</label>
            <input type="number" name="pushups" required>
            <!-- <label for="duration">Duration of your workout:</label>
            <input type="text" id="duration" name="duration" readonly> -->
            <button type="submit">Submit</button>
		</form>
    </div>

<script src="static/js/gtk.js"></script>        

</body>
</html>