<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Fitmate</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/menu.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <a href="gettoknow" style="text-decoration: none; color: inherit;">
    <div class="container1">
        <h2>5-Day Workout Plan</h2>
        <p class="description">Kickstart your fitness journey with a comprehensive 5-day workout plan. Tailored to your fitness level and goals, this plan provides a balanced mix of strength training, cardio, and flexibility exercises. Achieve your long-term fitness aspirations with consistency and dedication.</p>
    </div>
    </a>
    <a href="w_details" style="text-decoration: none; color: inherit;">
    <div class="container2">
        <h2>Daily Workout Plan</h2>
        <p class="description">Elevate your fitness routine with a daily workout plan designed to target your specific fitness goals.Our daily workout plan provides a variety of exercises to keep you motivated. Build a healthy habit of daily exercise and witness the positive changes in your body and mind.</p>
    </div>
    </a>
</body>

</html>