<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your exercises</title>
    <link href="static/css/single_final.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="form">
       
        <p class="title">{{ex1}} <a href="https://www.youtube.com/results?search_query={{ex1}} workout " target="_blank" class="anchor" >Watch tutorial</a></p>
        <br>
        <p class="title">{{ex2}} <a href="https://www.youtube.com/results?search_query={{ex2}} workout " target="_blank" class="anchor">Watch tutorial</a></p>
        <br>
        <p class="title">{{ex3}} <a href="https://www.youtube.com/results?search_query={{ex3}} workout " target="_blank" class="anchor" >Watch tutorial</a></p>
        <br>
        <p class="title">{{ex4}} <a href="https://www.youtube.com/results?search_query={{ex4}} workout " target="_blank" class="anchor">Watch tutorial</a></p>
        <br>
        <p class="title">{{ex5}} <a href="https://www.youtube.com/results?search_query={{ex5}} workout " target="_blank" class="anchor">Watch tutorial</a></p>
        <br>


      </div>
</body>
</html>